<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<!--<h1 class="text-center">Customer page</h1>-->
<div class="card container-fluid" style="width: auto;">
    <h1 class="card-text text-center">Customers</h1>
    <div class="card-body">
        <input id="input_search" placeholder="Check login">
        <button id="button_search" class="btn btn-success"> Search </button>
    </div>
    <div class="card-body">
        <table id="table_search" class="table table-bordered table-striped">
            <tr>
                <thead>
                <th scope="col">id</th>
                <th scope="col">Login</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Role</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
                </thead>
            </tr>
            <tbody class="table-group-divider">
            <th:block th:each="user:${user}">
                <tr>
                    <th scope="row" >[[${user.id}]]</th>
                    <th scope="row" >[[${user.username}]]</th>
                    <th scope="row" >[[${user.role}]]</th>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>