<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <nav th:fragment="layout_header">
        <ul>
            <li>
                <button>домой</button>
            </li>
            <li>
                <button>услуги</button>
            </li>
            <li>
                <button>наши партнеры</button>
            </li>
            <li>
                <button>админ</button>
            </li>
            <li>
                <button>войти</button>
            </li>
        </ul>
    </nav>
</body>
</html>