<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../../static/styles/null.css" />
    <link rel="stylesheet" href="../../static/styles/header.css" />
</head>
<body>
    <nav th:fragment="layout_header(isAuthenticated, isAdmin, username)">
        <ul>
            <li>
                <button onclick="window.location.href = '/'">домой</button>
            </li>
            <li>
                <button>услуги</button>
            </li>
            <li>
                <button>наши партнеры</button>
            </li>
            <li>
                <th:block th:if="${isAuthenticated}">
                    <button th:if="${isAdmin}" onclick="window.location.href = '/admin'">
                        админ
                    </button>
                </th:block>
            </li>
            <li>
                <button th:if="${isAuthenticated}"onclick="window.location.href = '/profile'">
                    [[${username}]]
                </button>
                <button th:unless="${isAuthenticated}" onclick="window.location.href = '/login'">войти</button>
            </li>
        </ul>
    </nav>
</body>
</html>