<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../../static/styles/null.css" />
    <link rel="stylesheet" href="../../static/styles/header.css" />
</head>
<body>
    <nav th:fragment="layout_header">
        <ul>
            <li>
                <button onclick="window.location.href = '/'">домой</button>
            </li>
            <li>
                <button>услуги</button>
            </li>
            <li>
                <button>наши партнеры</button>
            </li>
            <li>
                <button>админ</button>
            </li>
            <li>
                <button onclick="window.location.href = '/login'">войти</button>
            </li>
        </ul>
    </nav>
</body>
</html>