@import "variables.scss";

$body_minwidth: $wrapper_width;

body {
  padding: 0;
  margin: 0;
  min-width: $body_minwidth;
  background-color: $wrapper_color;
  nav {
    @extend %header_tpl;
    ul {
      display: flex;
      height: 100%;
      margin: 0;
      justify-content: space-between;
      list-style: none;
      li {
        margin: 10px 10px;
        flex-wrap: wrap;
        align-content: center;
        display: flex;
        height: 100%;
        margin-top: 0;
      }
      button {
        @extend %header_button_tpl;
        background-color: $wrapper_color;
        color: $header_font_color;
      }
      > a {
        @extend %header_button_tpl;
        padding-left: 3px;
        padding-right: 3px;
        // color: $header_font_color;
        background-color: $wrapper_color;
        text-decoration: none;
        margin-right: 0;
        display: flex;
        align-items: center;
      }
    }
  }
}
