<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/null.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
</head>
<body>
<div class="wrapper">
    <th:block th:insert="~{layouts/header.html ::
                            layout_header(${isAuthenticated}, ${isAdmin}, ${username})}">
    </th:block>
    <div class="content">
        <h1>HOME</h1>
    </div>
</div>
</body>
</html>