<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Menu Register</title>
</head>
<body>
<form method="post" th:action="@{/menu/add}" >

    <input type="number" th:value="${user.id}" name="id" hidden>
<!--    <input type="number" th:value="${user.profile.company.id}" name="menuId">-->

    <input type="text" placeholder="Выбор кухни" name="dish">
    <input type="text" placeholder="Название блюда" name="dishName">
    <input type="number" placeholder="Цена блюда" name="price">

    <button>Save</button>
</form>
</body>
</html>