@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf) format("ttf");
}
body .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body .wrapper nav {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 72px;
  background-color: #d0e6cc;
}

body .wrapper nav ul > a, body .wrapper nav ul button {
  height: 100%;
  text-align: center;
  font-family: "Lato-Bold", Arial, sans-serif;
  font-size: x-large;
  font-weight: 700;
  border-radius: 10px;
  border-style: none;
}

body {
  padding: 0;
  margin: 0;
  min-width: 1200px;
}
body .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
body .wrapper nav ul li {
  margin: 10px 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 0;
}
body .wrapper nav ul button {
  background-color: #d0e6cc;
  color: #3c3c3c;
}
body .wrapper nav ul > a {
  padding-left: 3px;
  padding-right: 3px;
  background-color: #d0e6cc;
  text-decoration: none;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper .content {
  margin-top: 72px;
  height: 1100px;
  background-color: aliceblue;
}