@import "variables";

body {
  padding: 0;
  margin: 0;
  min-width: $body_minwidth;
  .wrapper {
    @extend %wrapper_tpl;
    nav {
      @extend %header_tpl;
      ul {
        display: flex;
        height: 100%;
        margin: 0;
        justify-content: space-around;
        list-style: none;
        // padding-left: 5%;
        // padding-right: 5%;
        li {
          margin: 10px 10px;
          flex-wrap: wrap;
          align-content: center;
          display: flex;
          height: 100%;
          margin-top: 0;
        }
        button {
          @extend %header_button_tpl;
          background-color: $wrapper_color;
          color: $header_font_color;
        }
        > a {
          @extend %header_button_tpl;
          padding-left: 3px;
          padding-right: 3px;
          background-color: $wrapper_color;
          text-decoration: none;
          margin-right: 0;
          display: flex;
          align-items: center;
        }
      }
    }
    .content {
      // padding-top: 0.06 * $body_minwidth;
      margin-top: 0.06 * $body_minwidth;
      height: 1100px;
      background-color: aliceblue;
    }
  }
}
