// компоненты окон
$body_minwidth: 1200px;

//цвета
$header_color: #1bbc9b;
$header_font_color: #3c3c3c;
$active_color: #e84c3d;
$wrapper_color: #d0e6cc;
$form_background_color: #ffffff;
$border_color: #16a086;

//шрифты
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf) format("ttf");
}

// шаблоны для логических модулей

%wrapper_tpl {
  max-width: $body_minwidth;
  margin: 0 auto;
  padding: 0 15px;
}

// @media (max-width: 1200px) {
//   $body_minwidth: 1000px;
// }
// @media (max-width: 992px) {
//   $body_minwidth: 700px;
// }

// шаблон header
%header_tpl {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.06 * $body_minwidth;
  background-color: $wrapper_color;
}

//шаблоны для форм

//шаблон маленьких форм
%form_log_reg_tpl {
  width: 300px;
  height: 391px;
  background-color: $form_background_color;
}

//шаблон для всех инпутов/селектов в проекте
%input_tpl {
  width: 240px;
  height: 35px;
  background-color: $form_background_color;
  border: 2px solid $border_color;
}

//шаблон для всех кнопок в проекте
%button_tpl {
  width: 138px;
  height: 35px;
  border-style: none;
}

//шаблон кнопок хедера
%header_button_tpl {
  height: 100%;
  text-align: center;
  font-family: "Lato-Bold", Arial, sans-serif;
  font-size: x-large;
  font-weight: 700;
  border-radius: 10px;
  border-style: none;
}
