<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Register chiefs</title>
</head>
<body>
<form method="post" th:action="@{/register/chiefs}" >

    <input type="number" th:value="${companyId}" name="id" hidden>

    <input type="text" placeholder="Логин" name="username">
    <span th:if="${error != null && error == 'login'}">
        Логин уже используется
    </span>

    <input type="password" placeholder="Пароль" name="password">

    <select name="role">
        <th:block th:each="role: ${roles}">
            <option th:if="${role == roles[0]}" selected>[[${role}]]</option>
            <option th:unless="${role == roles[0]}">[[${role}]]</option>
        </th:block>
    </select>

    <button>register</button>
</form>
</body>
</html>