<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Register chiefs</title>
</head>
<body>
<form method="post" th:action="@{/register/chiefs}" >

    <input type="number" th:value="${chiefs}" name="id" hidden>

    <input type="text" placeholder="Логин" name="username">
    <span th:if="${error != null && error == 'login'}">
                Login is already in use</span>

    <input type="password" placeholder="Пароль" name="password">

<!--    нужно сделать список ролей, для компании-->
    <input type="text" placeholder="Должность" name="role">

    <button>register</button>
</form>
</body>
</html>